node_modules
.DS_Store
.monitor
.*.swp
.nodemonignore
releases
*.log
*.err
fleet.json
public/browserify
bin/*.json
.bin
build
compile
.lock-wscript
*.a
*.o
.zedstate
tags
.npmrc
publish-npm/config.json
publish-npm/modules
config/github-auth.json
