html, body {
  height: 100%
}

body {
  height:100%; 
  min-height:100%; 
  position:relative;
  background-color: black;
}

* {
  font-family: gentium-basic;
  padding: 0;
  margin: 0;
  list-style: none;
}

#sitewrapper {
  overflow: hidden;
}

#leftPanel {
  width: 50%;
  float: left;
}

#leftPanel textarea {
  opacity: 0.0;
}

.CodeMirror {
  height: 1200px;
}

#name {
  font-size: 20px;
}

#name input {
  font-size: 20px;
}

/*#sourceCode {
  background-color: black;
  font-family: monospace;
  font-size: 12px;
  color: white;
  height: 591px;
  width: 1086px;
}
*/

#rightPanel {
  width: 50%;
  height:100%; 
  min-height:100%; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0;
  overflow: scroll;
  float: right;
  background-color: white;
}

#rightPanel h1 {
  display: none;
}

#rightPanel p {
  font-size: 16px;
  margin: 20px 0 0px 0;
}

#login, #docs, #demo, #test, #name {
  margin: 60px 20px 20px 20px;
  height: 800px;
}

#guide.deactivated {
  opacity: 0.0;
}

#guide.activated {
  opacity: 1.0;
}

#guide.login {
  transition: opacity 120ms, top 120ms, -webkit-transform 120ms;
  -webkit-transform: scale(4.0);
  top: 50%;
  left: 50%;
}

#guide.settled {
  transition-delay: 0.5s;
  -webkit-transform: scale(1.0);
  top: 0%;
  left: 50%;
  margin: 0px 0px 0px 0px;
}

#guide {
  transition: opacity 120ms, top 120ms, margin 120ms, -webkit-transform 120ms;
  -webkit-transition: opacity 120ms, top 120ms, margin 120ms, -webkit-transform 120ms;
  transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  padding: 10px 10px 10px 20px;
  position: fixed;
}

#guide button.hidden, #guide .arrow.hidden {
  display: none;
  opacity: 0.0;
}

#guide button.invisible, #guide .arrow.invisible {
  opacity: 0.0;
}

#guide .arrow {
  opacity: 1.0;
}

#guide button {
  opacity: 1.0;
  -webkit-transition: opacity 620ms;
  transition: opacity 620ms;
  font-size: 20px;
  padding: 3px;
  border: 1px solid #ddd;
  background-color: white;
}

#guide button.active {
  background-color: hsla(240, 70%, 90%, 1.0);
}

#guide button:focus {
  outline: none;
}